altgraph==0.17.4
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pywin32-ctypes==0.2.2
setuptools==69.1.1